pip install cohere
pip install langchain
pip install transformers
pip install chromadb
pip install sentence_transformers
pip install langchain-huggingface
pip install accelerate
pip install bitsandbytes
pip install streamlit
pip install python-dotenv
